@charset "UTF-8";

/*
TYPICAL DEVICE BREAKPOINTS:
-----------------------------

Pequenas telas: Até 600px;

Celular: De 600px até 768px;
Tablet: De 768px até 992px;
Desktop: De 992px até 1200px;

Grandes telas: Acima de 1200px;
*/

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
}